.wrapper {
    display: flex;
    justify-content: space-between;

    padding: 15px 20px 0 20px;
}

.route,
.length,
.stops {
    width: 141px;
    height: 39px;
}

.data,
.duration,
.transfer {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #A0B0B9;
}

.time,
.city {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #4A4A4A;
}

.city {
    text-transform: uppercase;
}

.stops {
    width: 140px;
}