*{
    margin: 0;
    padding: 0;
}
.App {
    background-color: #F3F7FA;

    height: 100vh;
    box-sizing: border-box;
}
h2{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #4A4A4A;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}